:root {
  --vp-home-hero-name-color: #6161ff;
  --vp-button-brand-bg: #6161ff;
  --vp-c-brand-1: #6161ff;
}

.dark {
  --vp-c-bg: #01051b;
  --vp-c-text-1: #e5e7eb;
  --vp-c-text-2: #80828d;
  --vp-sidebar-bg-color: hsl(231, 92.9%, 7.5%);
  --vp-c-bg-soft: hsl(231, 92.9%, 10.5%);
}

.medium-zoom-overlay {
  z-index: 999;
}

.medium-zoom-image {
  z-index: 9999;
}

.VPButton {
  background: linear-gradient(69.41deg, #085df4 4.84%, #780fff 97.57%);
}

html.dark .light-only {
  display: none !important;
}

html:not(.dark) .dark-only {
  display: none !important;
}

table {
  border-collapse: collapse;
  width: 100%;
}
th,
td {
  border: 1px solid #0e0e0e;
  font-family: Arial, sans-serif;
  font-size: 14px;
  padding: 10px 5px;
  text-align: center;
  vertical-align: top;
  color: #01051b;
}
th {
  background-color: #ffffff;
  font-weight: bold;
}
td {
  background-color: #ffffff;
}
.section-header {
  background-color: #f3f4f6;
  font-weight: bold;
  text-align: center;
  color: #01051b;
}
.left-align {
  text-align: left;
}
.total-row {
  font-weight: bold;
}
/* Disable zoom for icons in features section */
.VPFeatures img,
.VPFeature img {
  cursor: default !important;
}

.VPFeatures img.medium-zoom-image,
.VPFeature img.medium-zoom-image {
  pointer-events: none !important;
}